/*---------------------------------------------------------*/
/* BASIS */
/*---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    cursor: -webkit-grab;
}


/*---------------------------------------------------------*/
/* BACKGROUND. */
/*---------------------------------------------------------*/


.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: aqua;
}
.fullscreen-wrap {
    position: absolute;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.fullscreen-wrap video {
    min-width: 100%;
    min-height: 100%;
}


/*---------------------------------------------------------*/
/* NAVIGATION BAR. */
/*---------------------------------------------------------*/


.nav-container {
    background-color: tomato;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 200px;
    z-index: 10;
    display: block;
}
 .nav-item {
    color: #fff;
    padding: 5px 10px;
}

/*/////////// BACKGROUND OVERLAY///////////*/


main.bg-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: blanchedalmond;
    z-index: 0;
    opacity: 0.85;
}
@media(max-width:960px) {
    main {
        margin: 0 auto;
    }
}


/*---------------------------------------------------------*/
/* START CONTENT. */
/*---------------------------------------------------------*/


.boxes {
    background: yellow;
    height: 60%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    flex-direction: column;
    overflow: hidden;
}
.box {    
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: darkslateblue;
    border-style: dotted;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.innerbox {
    border-style: solid;
    height: 100%;
    margin: 5px;
}
.innerbox-left {
    background: rgb(54, 54, 17);
    color: #fff;
    width: 60%;
}
.innerbox-right {
    color: #fff;
    width: 40%;
}


/*---------------------------------------------------------*/
/* FOOTER. */
/*---------------------------------------------------------*/


/*/////////// global stuff///////////*/
h3 {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0;
}
p {
    display: block;
    padding-bottom: 16px;
}
.btn {
    background: red;
    color: blanchedalmond;
    font-size: 18px;
    padding: 10px 25px;
    text-decoration: none;
}